@font-face {
	font-family: 'ArchitectsDaughter';
	src: local('ArchitectsDaughter'),
		url(./fonts/ArchitectsDaughter-Regular.ttf) format('truetype');
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Architects Daughter', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		'Architects Daughter', monospace;
}
.caption {
	background-color: #ea5455;
	border-radius: 1em;
	font-family: 'Architects Daughter' !important;
}
.caption p {
	font-family: 'Architects Daughter' !important;
	font-size: 0.5em;
}
.caption h6 {
	font-family: 'Architects Daughter' !important;
	font-size: 1em;
}
.carousel-image {
	flex: 1;
	align: center;
	position: relative;
	width: 100%;
}
.navbar {
	background: #2d4059 !important;
	font-family: 'Architects Daughter' !important;
	color: #e5e5e5 !important;
	font-size: 28px !important;
}
.nav-link {
	color: #e5e5e5 !important;
}
.brand {
	color: #ea5455 !important;
}
.dropdown {
	color: #ea5455 !important;
}
.jumbotron {
	background-color: #ea5455 !important;
	font-family: 'Architects Daughter';
	color: #e5e5e5 !important;
	font-size: 24px;
}
.jumbotron h2 {
	color: #e5e5e5 !important;
	font-family: 'Architects Daughter';
}
.btn {
	margin-left: 10px;
	border-radius: 1em !important;
	color: #2d4059 !important;
	background-color: #e5e5e5 !important;
}
.websling {
	width: 100%;
	max-width: 1000px !important;
	align-items: center;
	justify-content: centre;
}
h2 {
	font-family: 'Architects Daughter';
	color: #ea5455 !important;
}
.resume-img {
	width: 100%;
	max-width: 1000px;
}
.view-button {
	font-family: 'Architects Daughter' !important;
	color: #ea5455 !important;
}
.about {
	font-family: 'Architects Daughter';
	background-color: #e5e5e5;
	color: #2d4059;
	font-size: 24px;
}
.about h1 {
	background-color: #ea5455;
	color: #2d4059;
}
.about hr {
	color: #2d4059;
}
@media screen and (max-width: 600px) {
	h2 {
		font-size: 18px !important;
	}
	.about {
		font-size: 16px;
	}
	.about h1 {
		font-size: 24px;
	}
}
