@font-face {
	font-family: 'ArchitectsDaughter';
	src: local('ArchitectsDaughter'),
		url(./fonts/ArchitectsDaughter-Regular.ttf) format('truetype');
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Architects Daughter', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		'Architects Daughter', monospace;
}
.caption {
	background-color: #ea5455;
	border-radius: 1em;
	font-family: 'Architects Daughter' !important;
}
.caption p {
	font-family: 'Architects Daughter' !important;
	font-size: 0.5em;
}
.caption h6 {
	font-family: 'Architects Daughter' !important;
	font-size: 1em;
}
.carousel-image {
	flex: 1;
	align: center;
	position: relative;
	width: 100%;
}
.navbar {
	background: #e5e5e5 !important;
	font-family: 'Architects Daughter' !important;
	color: #2d4059 !important;
	font-size: 24px !important;
}
.nav-link {
	color: #2d4059 !important;
}
.brand {
	color: #ea5455 !important;
	font-size: 36px !important;
}
.brand img {
	width: 80px;
	height: auto;
}
.dropdown {
	color: #ea5455 !important;
	color: #2d4059;
}
.jumbotron {
	background-color: #ea5455 !important;
	font-family: 'Architects Daughter';
	color: #e5e5e5 !important;
	font-size: 24px;
}
.jumbotron h2 {
	color: #e5e5e5 !important;
	font-family: 'Architects Daughter';
}
.jumbotron img {
	margin: 0 0 1em 0;
}
.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.portfolio-card {
	font-family: 'Architects Daughter';
	color: #2d4059 !important;
	background-color: #e5e5e5 !important;
	position: center;
	margin: 1em;
	max-width: 500px !important;
	flex: 1em;
}
.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
	margin: 1em;
	border: groove #ea5455 4px;
}
.card-text {
	margin: 1em;
}
.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
.portfolio-btn {
	margin: 5px 1em 5px 1em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 0.5em !important;
	color: #e5e5e5;
	font-size: 18px;
	font-weight: 2%;
	padding: 0.5em 1em 0.5em 1em;
	background-color: #2d4059;
	-webkit-box-shadow: 1px 1px 10px 0 #ea5455;
	-moz-box-shadow: 1px 1px 10px 0 #ea5455;
	box-shadow: 1px 1px 1px 0 #ea5455;
	border: solid #e5e5e5 2px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	outline: none !important;
}
.portfolio-btn:hover {
	background: #2d4059;
	border: solid #e5e5e5 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none;
	color: #ea5455 !important;
}
.portfolio-btn:active {
	box-shadow: none;
	transform: translateY(4px);
}
.websling {
	width: 100%;
	max-width: 500px !important;
	align-items: center !important;
	justify-content: center !important;
}
.logo {
	width: 50%;
	height: auto;
	max-width: 1000px !important;
	align-items: center;
	justify-content: center;
}
h2 {
	font-family: 'Architects Daughter';
	color: #ea5455 !important;
}
.resume-img {
	width: 100%;
	max-width: 1000px;
}
.view-button {
	font-family: 'Architects Daughter' !important;
	color: #ea5455 !important;
}
.blog {
	font-family: 'Architects Daughter';
	background-color: #e5e5e5;
	color: #2d4059;
	font-size: 24px;
	padding: 2em;
}
.about {
	font-family: 'Architects Daughter';
	background-color: #e5e5e5;
	color: #2d4059;
	font-size: 24px;
}
.about p {
	padding: 0px 15px 15px 15px;
}
.about h1 {
	background-color: #ea5455;
	color: #2d4059;
	padding-left: 15px;
}
.about hr {
	color: #2d4059;
	border-color: #ea5455;
	border-top: 5px dotted #ea5455;
	width: 5%;
}
@media screen and (max-width: 600px) {
	h2 {
		font-size: 18px !important;
	}
	.about {
		font-size: 16px;
	}
	.about h1 {
		font-size: 24px;
	}
	.blog {
		font-size: 25px !important;
		padding: 1.5em !important;
	}
	.brand {
		font-size: 30px !important;
	}
	.jumbotron img {
		width: 100%;
		height: auto;
	}
}
