@font-face {
	font-family: 'ArchitectsDaughter';
	src: local('ArchitectsDaughter'),
		url(./fonts/ArchitectsDaughter-Regular.ttf) format('truetype');
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Architects Daughter', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		'Architects Daughter', monospace;
}
.caption {
	background-color: #ea5455;
	border-radius: 1em;
	font-family: 'Architects Daughter' !important;
}
.caption p {
	font-family: 'Architects Daughter' !important;
	font-size: 0.5em;
}
.caption h6 {
	font-family: 'Architects Daughter' !important;
	font-size: 1em;
}
.carousel-image {
	flex: 1;
	align: center;
	position: relative;
	width: 100%;
}
.navbar {
	background: #e5e5e5 !important;
	font-family: 'Architects Daughter' !important;
	color: #2d4059 !important;
	font-size: 28px !important;
}
.nav-link {
	color: #2d4059 !important;
}
.brand {
	color: #ea5455 !important;
	font-size: 36px !important;
}
.dropdown {
	color: #ea5455 !important;
}
.jumbotron {
	background-color: #ea5455 !important;
	font-family: 'Architects Daughter';
	color: #e5e5e5 !important;
	font-size: 24px;
}
.jumbotron h2 {
	color: #e5e5e5 !important;
	font-family: 'Architects Daughter';
}
.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.portfolio-card {
	radius: 10px;
	font-family: 'Architects Daughter';
	color: #2d4059 !important;
	font-size: 24px;
	position: center;
	margin: 1em;
}
.portfolio-btn {
	margin-left: 10px;
	border-radius: .5em !important;
	background-color: #2d4059 !important;
	color: #e5e5e5 !important;
	font-size: 18px !important;
}
.websling {
	width: 100%;
	max-width: 1000px !important;
	align-items: center !important;
	justify-content: center !important;
}
.logo {
	width: 50%;
	height: auto;
	max-width: 1000px !important;
	align-items: center;
	justify-content: center;
}
h2 {
	font-family: 'Architects Daughter';
	color: #ea5455 !important;
}
.resume-img {
	width: 100%;
	max-width: 1000px;
}
.view-button {
	font-family: 'Architects Daughter' !important;
	color: #ea5455 !important;
}
.blog {
	font-family: 'Architects Daughter';
	background-color: #e5e5e5;
	color: #2d4059;
	font-size: 24px;
	padding: 2em;
}
.about {
	font-family: 'Architects Daughter';
	background-color: #e5e5e5;
	color: #2d4059;
	font-size: 24px;
}
.about p {
	padding: 0px 15px 15px 15px;
}
.about h1 {
	background-color: #ea5455;
	color: #2d4059;
	padding-left: 15px;
}
.about hr {
	color: #2d4059;
	border-color: #ea5455;
	border-top: 5px dotted #ea5455;
	width: 5%;
}
@media screen and (max-width: 600px) {
	h2 {
		font-size: 18px !important;
	}
	.about {
		font-size: 16px;
	}
	.about h1 {
		font-size: 24px;
	}
	.blog {
		font-size: 25px !important;
		padding: 1.5em !important;
	}
	.brand {
		font-size: 30px !important;
	}
}
